jupyterlab
pyarrow
parquet
scikit-learn
pandas
numpy
pandas
matplotlib
sphinx
plotly
plotly-express
geojson
geopandas
wheel
twine
altair
streamlit
xmltodict
ydata_profiling
statsmodels
folium
streamlit_folium
contextily
kaleido
openpyxl
pyreadstat
fastdtw
pysal 
ipywidgets
xarray
wget
netcdf4
ipywidgets
rioxarray
sphinx-rtd-theme
sphinx-autoapi
sphinxcontrib-apidoc
sphinxcontrib-jsmath
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
sphinx_rtd_theme
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
psutil